extends layout

block content
    div(class="container title")
        h2 File Metadata Microservice
    div(class="container")
        p
            a(href="https://github.com/yavuzovski/file-metadata", target="_blank") See on Github
            |  created by
            a(href="https://www.freecodecamp.org/yavuzovski", target="_blank")  yavuzovski
        ol(class="stories") User stories:
            li.
                I can submit a FormData object that includes a file upload.
            li.
                When I submit something, I will receive the file size in bytes within the JSON response
    div(class="container")
        h4 Upload a File
        form(action="/upload", method="POST", enctype="multipart/form-data")
            div(class="container")
                input(type="file", name="givenFile")
                input(type="submit")
